@font-face {
    font-family: "Istok";
    src: url("./resources/fonts/Istok_Web/IstokWeb-Regular.ttf");
}

@font-face {
    font-family: "Habibi";
    src: url("./resources/fonts/Habibi/Habibi-Regular.ttf");
}

h1 {
	font-family: Habibi;
	font-size: 48px;
    color: #280B45;
}

p {
    margin: 0;
    margin-top: 40px;

    font-family: "Istok";
    font-size: 24px;
    color: #280B45;
}

.container {
    padding: 70px;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.avatar {
    width: auto;
    height: 340px;

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    display: flex;
    flex-direction: column;
}

.item_card {
    width: 1000px;
    height: 100%;

    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;

    grid-column: 1;
    grid-row: 1;

    display: flex;

    background-color: #FFDCC1;
    box-shadow: 0px 4px 4px #888888;
}

.item_image {
    width: 120px;
    height: auto;

    border-radius: 5px;
}

.item_label {
    display: flex;
    flex-direction: column;

    margin-left: 60px;
}

.item_name {
    margin: 0;

    font-family: "Istok";
    font-size: 36px;
    color: #280B45;
}

.item_quantity {
    margin: 0;

    font-family: "Istok";
    font-size: 24px;
    color: #280B45;
}

.order_date {
    margin: 0;

    font-family: "Istok";
    font-size: 24px;
    color: #280B45;
}
