footer {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: #111;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.icons {
    display: flex;
    justify-content: center;
}

    .icons a {
        text-decoration: none;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }

        .icons a i {
            font-size: 2em;
            color: black;
            opacity: 0.9;
        }

        .icons a:hover {
            background-color: #111;
            transition: 0.5s;
        }

            .icons a:hover i {
                color: white;
                transition: 0.5s;
            }

.nav {
    margin: 30px 0;
}

    .nav ul {
        display: flex;
        justify-content: center;
    }

        .nav ul li a {
            color: white;
            margin: 20px;
            text-decoration: none;
            font-size: 1.3em;
            opacity: 0.7;
            transition: 0.5s;
        }

        .nav ul li::before {
            content: "\2022";
            color: #111;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }

        .nav ul li a:hover {
            opacity: 1;
        }

.bottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

    .bottom p {
        color: white;
    }
