
@font-face {
    font-family: "Istok";
    src: url("./resources/fonts/Istok_Web/IstokWeb-Regular.ttf");
}

@font-face {
    font-family: "Habibi";
    src: url("./resources/fonts/Habibi/Habibi-Regular.ttf");
}

html{
	height:100%
}/*only added to fix gradient*/

body {
	height: 100%;
	background: radial-gradient(ellipse at 100% 100%, #E072EA 0%, #F49393 63.2%, #FFB779 100%);
}

*{
	text-decoration:none;
}

.format {
	font-family: Habibi;
	font-size: 75px;
	color: #280B45;
	margin-top: 200px;
}
.Button {
	border-radius: 4px;
	background-color: #FFE98A;
	border: none;
	color: #280B45;
	text-align: center;
	font-size: 25px;
	padding: 5px;
	width: 150px;
	transition: all 0.5s;
	cursor: pointer;
	font-family: Istok Web;
	position:relative;
}

.Button span {
   cursor: pointer;
   display: inline-block;
   position: relative;
   transition: 0.5s;
}

.Button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}


.Button:hover span {
	padding-right: 25px;
}

.Button:hover span:after {
	opacity: 1;
	right: 0;
}

.centr_content {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}


