:root {
    --primary: #FFE98A;
    --secondary: #DBB8FF;
    --secondary-dark: #5A3384;
    --primary-container: #FFDCC1;
    --text: #280B45;
}

@font-face {
    font-family: "Istok";
    src: url("./resources/fonts/Istok_Web/IstokWeb-Regular.ttf");
}

@font-face {
    font-family: "Habibi";
    src: url("./resources/fonts/Habibi/Habibi-Regular.ttf");
}

html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

body {
   margin: 0;
   background: radial-gradient(68.47% 135.41% at 102.71% 100%, #E072EA 0%, #F49393 63.2%, #FFB779 100%);
}

p {
    font-family: "Istok";
    font-size: 18px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #280B45;
}

a {
    font-family: "Istok";
    font-size: 18px;
    margin: 0px;
    margin-top: 32px;
    color: #457699;
}

input {
    padding: 5px;
}

h1 {
    font-family: "Habibi";
    text-align:center;
    padding-top:15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.form {
    width: 350px;
    height: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;

    border-radius: 10px;

    background-color: var(--secondary);
    box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.25);
}

.field {
    height: fit-content;
    width:100%;

    margin-top: auto;
    margin-bottom: auto;

    border-style: none;
    border-radius: 10px;

    font-family: "Istok";
    font-size: 18px;
}

.login_button {
    width: 100%;
    height:auto;
    text-align: center;

    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;

    border-style: none;
    border-radius: 10px;

    font-family: "Istok";
    font-size: 18px;
    color:#ffffff;

    background-color: var(--secondary-dark);
}

.button_holder {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-self: center;
    bottom: 5px;
}

.login_button:hover {
    background-color: #573080;
}
.login_button:active {
    background-color: #48296a;
}
